<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725793838303-org9o4vu97jijir6c04n0sjb2ps17qfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725793838303-org9o4vu97jijir6c04n0sjb2ps17qfv</string>
	<key>API_KEY</key>
	<string>AIzaSyCM1xn5t7S_zH-orW2-Sm6ReYTDudNfuo0</string>
	<key>GCM_SENDER_ID</key>
	<string>725793838303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.r0h.echo</string>
	<key>PROJECT_ID</key>
	<string>eongram-87169</string>
	<key>STORAGE_BUCKET</key>
	<string>eongram-87169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725793838303:ios:b50a4e8e36550b415c056a</string>
	<key>DATABASE_URL</key>
	<string>https://eongram-87169.firebaseio.com</string>
</dict>
</plist>